#####################################################################
#  Stepper Settings
#####################################################################

##  B(X) Left Gantry
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
endstop_pin: !PG6
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200  # 1.8 degrees per step
position_min: 0
position_endstop: 347
position_max: 347
homing_speed: 100   #Max 100
second_homing_speed: 5
homing_retract_dist: 5
# homing_retract_dist: 2
homing_positive_dir: true

##  A(Y) Right Gantry
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
endstop_pin: !PG9
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200  # 1.8 degrees per step
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 100  #Max 100
second_homing_speed: 5
homing_retract_dist: 5
# homing_retract_dist: 2
homing_positive_dir: true

##  Z0 Front Left
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
endstop_pin: PG10
gear_ratio: 80:16
microsteps: 32
rotation_distance: 40
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_min: -5
#position_endstop = 1.086
position_endstop = 1.186
position_max: 315
homing_speed: 60
second_homing_speed: 3
homing_retract_dist: 3

##  Z1 Back Left
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
gear_ratio: 80:16
microsteps: 32
rotation_distance: 40

##  Z2 Back Right  
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
gear_ratio: 80:16
microsteps: 32
rotation_distance: 40

##  Z3 Front Right
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
gear_ratio: 80:16
microsteps: 32
rotation_distance: 40

##  E0 Extruder
[extruder]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
heater_pin: PB11
sensor_pin: PF4
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:17               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 21.68078202540414   #Bondtech 5mm Drive Gears
nozzle_diameter: 0.400
filament_diameter: 1.75
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040
